{% extends 'JRsShopBundle::base.html.twig' %}
{% block title %}
    <h1>Импрессум</h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Подключение файла main.css #}
    {#<link rel="stylesheet" href="{{ asset('bundles//css/about.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block body %}
    <p>ЧП "БоТи" было основано в 2004 году. С этого времени мы представляем свои услуги на рынке автозапчастей для всех марок легковых автомобилей.</p>

    <p>Мы осуществляем прямые поставки из Европы автозапчастей для иномарок на склад в г. Черкассы и предлагаем Вашему вниманию ассортимент, представленный следующими брендами: амортизаторы Robusto (Испания), Corven (Аргентина), Cofap(Magnetti Marelli)(Италия - Бразилия), BRP (тормозные колодки, диски, суппорты, цилиндры, детали сцепления), Topran (Hans Pries) (тормозные шланги, детали подвески, сцепления, системы зажигания и т.д.), BERU (Германия), Iskra (Словения) (свечи накаливания и зажигания), Optibelt (Германия) (ремни и прочее), Bugus, Tecneco, Timmen, GPD, Rapro, Ricambiflex (детали подвески, двигателя, кузова, системы зажигания, электр.части, фильтры), и запчасти других брендов в ассортименте. Производство данной продукции соответствует международному стандарту ISO-9001.</p>

    <p>Покупая товар у нас вы гарантированно получаете низкие цены т.к. не переплачиваете посредникам.</p>

    <p>Поставка производится со склада в г. Черкассы, либо под заказ. Срок доставки заказных позиций составляет от 10 до 30 дней.</p>

    <p>Доставка по Украине осуществляется автоперевозчиками.</p>


{% endblock %}