{% block footer %}
<h3>Наши бренды:</h3>
    <br>
    <div id="img" align="center" >
    <img src="pic/brp.jpg" width="126" height="34"/><img src="pic/bugus.jpg" width="125" height="40"/><img src="pic/corven.png" width="139" height="34"/><img src="pic/gambera.jpg" width="200" height="34"/><br/>
    <img src="pic/gennor.jpg" width="59" height="51"/><img src="pic/gpd.jpg" width="71" height="40"/><img src="pic/hans_pries.jpg" width="137" height="32"/><img src="pic/optibelt.gif" width="70" height="40"/><img src="pic/rapro.gif" width="150" height="41"/><br/>
    <img src="pic/ricambiflex.gif" width="153" height="40"/><img src="pic/robusto.jpg" width="227" height="42"/><img src="pic/timmen_group.jpg" width="150" height="40"/><img src="pic/topran.jpeg" width="88" height="38"/>
    </div>
{% endblock %}