{% extends 'JRsShopBundle::base.html.twig' %}
{% block title %}
    Главная
{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Подключение файла main.css #}
    {#<link rel="stylesheet" href="{{ asset('bundles//css/about.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block body %}
        <table width="100%">
            <thead>Категории</thead>
            {% for category in category %}
                <tr>
                    <td width="35%">
                        <h2><a href="{{ path('j_rs_shop_category_show', { 'id': category.id }) }}">{{ category.name }}</a></h2>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
