{% extends 'JRsShopBundle::base.html.twig' %}
{% block title %}
    <h1>Главная</h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Подключение файла main.css #}
    {#<link rel="stylesheet" href="{{ asset('bundles//css/about.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block body %}
    <h1>HomePage<h1>
{% endblock %}