{% extends 'JRsShopBundle::base.html.twig' %}

{% block title %}Регистрация{% endblock%}

{% block body %}
    <header>
        <h1>Регистрация</h1>
    </header>
    {% for flashMessage in app.session.flashbag.get('registration-massage') %}
        <div>{{ flashMessage }}</div>
    {% endfor %}
    <p>Чтобы зарегестрироватся, заполните, пожалуйста, форму:</p>
    <form action="{{ path('j_rs_shop_registration') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <p>
            <input type="submit" value="Submit">

        </p>
    </form>
{% endblock %}